#contacts {
  background: #F4F4F4;
  float: left;
  height: 100vh;
  width: $contact-width;
  transition: all 0.2s ease-out;
  overflow: hidden;

  @media(max-width: $screen-sm-max) {
    width: $contact-width / 3;
  }

  @media(max-width: $screen-xs-max) {
    border-right: 15px solid transparent;
    width: 0;

    &:hover {
      border-right: 5px;
      width: $contact-width / 3;
    }
  }
}

.contact-list {
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.contact {
  @include grid-container;

  border-bottom: 1px solid #E4E4E4;
  float: left;
  width: $contact-width;

  &:last-child {
    border-bottom: none;
  }

  .contact-thumbnail {
    @include grid-column(4);

    text-align: center;
    margin-left: 0;
    width: calc(100% / 3);

    img {
      border-radius: 50%;
      margin-top: 3px;
      max-height: 5em;
      padding: 6px 12px;
    }
  }

  .contact-content {
    @include grid-column(8);

    margin-right: 10px;
    margin-left: 0;
    width: calc(100% / 3 * 2 - 10px);

    h3 {
      font-size: 0.8em;
      margin: 10px 0 5px 0;
    }

    p {
      font-size: 0.7em;
    }
  }
}
